@charset "UTF-8";
/* Mixins */
/* Extend */
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  animation: fadeIn 0.5s ease-in-out forwards;
  width: 100%;
  max-width: 1350px;
}

header {
  position: relative;
  background-color: #948D83;
  margin: 0 auto;
  width: 100vw;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header .navbar-brand.logo {
  width: 50px;
  margin-right: 450px;
  height: auto;
  margin-left: 30px;
}
header .navbar-brand.logo img {
  width: 97px;
  height: 100px;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  left: -30px;
}
header nav ul.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
header nav ul.navbar-nav li {
  margin-left: 15px;
}
header nav ul.navbar-nav li:first-child {
  margin-left: 0;
}
header nav ul.navbar-nav li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-family: "Quicksand";
  font-weight: bold;
  border-radius: 4px;
  font-size: 20px;
  color: #000000;
}
header nav ul.navbar-nav li a:hover {
  background-color: #ddd;
  color: #000000;
}

#portada {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(148, 141, 131, 0.5);
}

.cabana-text-container {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 80px;
}

.cabana-title {
  width: 100%;
  height: auto;
  margin: 0 auto;
  font-family: "Italiana";
  font-size: 100px;
  line-height: 150%;
  color: #221400;
}

.cabana-subtitle {
  margin: 0 auto;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  font-family: "Italianno";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  color: #221400;
}

/* Button */
.button {
  width: 339px;
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 81px;
  font-size: 24px;
  margin: 20px auto;
  padding: 0px 10px;
  background: #221400;
  color: #ffffff;
  border-color: #221400;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: auto;
}
.button:hover {
  background-color: #ffffff;
  color: #221400;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  header .navbar-brand.logo {
    width: 40px;
    margin-right: 20px;
    margin-left: 20px;
  }
  header .navbar-brand.logo img {
    width: 80px;
    height: 80px;
  }
  header nav ul.navbar-nav li a {
    padding: 8px 10px;
    font-size: 18px;
  }
  #portada {
    height: 60vh;
    padding: 20px;
  }
  .cabana-text-container {
    margin-top: 20px;
  }
  .cabana-title {
    font-size: 45px;
    margin-bottom: 20px;
  }
  .cabana-subtitle {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .button {
    width: 250px;
    padding: 2px;
    font-size: 15px;
  }
  footer {
    padding: 15px;
  }
  footer .footer-container {
    flex-direction: column;
    gap: 20px;
  }
  footer .footer-column {
    text-align: center;
    margin-bottom: 20px;
  }
  footer .social-icons {
    justify-content: center;
  }
}
/* Contacto */
#contacto {
  position: relative;
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contacto h13 {
  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  text-align: center;
  display: block;
  margin: auto;
  font-family: "Italiana";
  font-weight: bold;
  margin-bottom: 10px;
  width: 300px;
  height: auto;
  margin: 0 auto;
  line-height: 150%;
  color: #221400;
  border-bottom: 4px solid #948D83;
}
#contacto h14 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 20px;
  font-weight: bold;
}
#contacto .h14 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 40px;
}
#contacto .form-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  gap: 5px;
}
#contacto .form-container .contact-form {
  order: 1;
  flex: 2.5;
  background: #948D83;
  border: 2px solid #2e2c2a;
  border-radius: 8px;
  padding: 20px;
  min-height: 600px;
}
#contacto .form-container .contact-info {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1.5;
  background: #948D83;
  border: 2px solid #2e2c2a;
  border-radius: 8px;
  padding: 20px;
  min-height: 600px;
}
#contacto .form-container .contact-info .info-item:last-child {
  margin-top: 40px;
}
#contacto .form-container .contact-info .info-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
#contacto .form-container .contact-info .info-item i {
  font-size: 20px;
  color: #221400;
  margin-right: 15px;
}
#contacto .form-container .contact-info .info-item span {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  display: block;
  margin: auto;
  color: #221400;
  font-size: 16px;
}
#contacto .form-container .contact-info .info-item i {
  margin-right: 8px;
}
#contacto .form-container h15 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  display: block;
  margin: auto;
  font-family: "Quicksand";
  font-weight: bold;
  color: #221400;
  font-size: 30px;
  justify-content: left;
  margin-left: -400px;
  margin-top: 10px;
  margin-bottom: 0px;
}
#contacto .form-container h16 {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  display: block;
  margin: auto;
  color: #221400;
  margin-left: -240px;
  white-space: nowrap;
  margin-bottom: 15px;
}
#contacto .form-container h17 {
  position: relative;
  font-family: "Quicksand", sans-serif;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  display: block;
  margin: auto;
  width: 300px;
  height: 31px;
  margin-bottom: 80px;
  margin-top: 30px;
  font-family: "Quicksand";
  font-weight: bold;
  color: #221400;
  font-size: 30px;
}
#contacto .form-container h17::after {
  content: "";
  display: block;
  width: 130%;
  height: 1px;
  background-color: #000;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}
#contacto .form-container p {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 0px;
}
#contacto .form-container form label {
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #221400;
  margin-bottom: 5px;
}
#contacto .form-container form input, #contacto .form-container form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #2e2c2a;
  border-radius: 4px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: #221400;
}
#contacto .form-container form textarea {
  height: 100px;
  resize: vertical;
}
#contacto .form-container .button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 40px;
}
#contacto .form-container .button-container button {
  width: 200px;
  height: 40px;
  cursor: pointer;
  margin: 0;
  padding: 0px 10px;
  background: #221400;
  color: #ffffff;
  border-color: #221400;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: auto;
}
#contacto .form-container .button-container button:hover {
  background-color: #ffffff;
  color: #221400;
}

.form-row, .contact-row {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.form-row .input-field, .contact-row .input-field {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact-row {
  margin-top: 20px;
}

#nombre, #apellido, #telefono, #email {
  width: 45%;
}

.required {
  color: red;
}

@media (max-width: 768px) {
  .form-container {
    flex-direction: column !important;
    align-items: center;
  }
  .form-container .contact-form, .form-container .contact-info {
    width: 100%;
    flex: none;
    min-height: auto;
    margin-bottom: 20px;
  }
  .form-container .contact-info {
    order: 2 !important;
  }
  .form-container .contact-form {
    order: 1 !important;
  }
  .form-container h15, .form-container h16 {
    margin-left: 0 !important;
    text-align: center !important;
  }
  .form-container h15 {
    font-size: 24px !important; /* Ajusta el tamaño de la fuente para móviles */
  }
  .form-container h16 {
    font-size: 14px;
    word-wrap: break-word !important; /* Asegura que el texto se ajuste al contenedor */
    word-break: break-all !important;
    white-space: normal !important;
  }
  .form-container h17 {
    font-size: 24px; /* Ajusta el tamaño de la fuente para móviles */
    text-align: center !important;
    margin-left: 0 !important; /* Elimina el margen izquierdo */
    margin-right: 0 !important; /* Elimina el margen derecho */
    display: block !important;
    width: 100% !important;
  }
  .form-container h17::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 80% !important; /* Reduce el ancho de la línea en móviles */
  }
  .form-container #nombre, .form-container #apellido, .form-container #telefono, .form-container #email {
    width: 100%; /* Asegúrate de que los campos ocupen todo el ancho en móviles */
  }
  .form-container .form-row, .form-container .contact-row {
    flex-direction: column;
    gap: 0;
  }
  .form-container .button-container {
    justify-content: center;
  }
  .form-container .button-container button {
    width: 100%;
  }
}
footer {
  position: relative;
  margin-top: 40px;
  background-color: #948D83;
  text-align: center;
  padding: 20px;
  margin-top: 0px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
  margin: 0 auto;
  max-width: 1200px;
}

.logo-Braford img {
  max-width: 150px;
}

.logo img {
  max-width: 250px;
}

.social-icons {
  font-size: 24px;
  display: flex;
  gap: 20px;
  color: #000;
  margin-bottom: 20px;
}

.footer-column {
  flex: 1;
  text-align: left;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #000;
}

.footer-column a {
  display: block;
  margin: 5px 0;
  text-decoration: none;
  color: #000;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-column p {
  margin: 5px 0;
  color: #000;
}

.copyright {
  font-size: 14px;
  color: #000;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
