$colors: (
  primary: #948D83,
  secondary: #221400,
  background: #948D83,
  white: #ffffff,
  black: #000000,
  text: #221400,
  subtext: #221400,
  "button": #ffffff,
  "button-bg": #221400,
);

$font-stack: 'Quicksand', 'Italiana', 'Italianno', sans-serif;
$font-sizes: (
  "h13":50px,
);

$line-heights: (
  "h17": 1.2
);

$font-weights: (
  "h17": 700,
);

$widths: (
  "h17": 300px,
);

$heights: (
  "h17": 31px,
);

/* Mixins */
@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin button-style($bg-color, $text-color, $border-color, $margin: null) {
  padding: 0px 10px;
  background: $bg-color;
  color: $text-color;
  border-color: $border-color;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  @include font-style("button");
  @if $margin != null {
    margin: $margin;
  }
  &:hover {
    background-color: $text-color;
    color: $bg-color;
  }
}

@mixin font-style($tag, $font-family: $font-stack) {
  font-family: $font-family;
  font-size: map-get($font-sizes, $tag);
  line-height: map-get($line-heights, $tag);
  font-weight: map-get($font-weights, $tag);
  color: map-get($colors, $tag);
  text-align: center;
  display: block;
  margin: auto;
}

@mixin text-style($size, $font-family: $font-stack) {
  font-family: $font-family;
  text-align: center;
  display: block;
  margin: auto;
  font-size: map-get($font-sizes, $size);
}

/* Extend */
%default-text {
  font-family: $font-stack;
  color: map-get($colors, primary);
}

%default-heading {
  @extend %default-text;
  font-weight: 500;
}

%centered-text {
  text-align: center;
  display: block;
  margin: auto;
}

%centered-block {
  text-align: center;
  display: block;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-center {
  display: flex;
  align-items: center;
}

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: map-get($colors, white);
  animation: fadeIn 0.5s ease-in-out forwards;
  width: 100%; 
  max-width: 1350px;
}

header {
  position: relative;
  background-color: map-get($colors, background);
  margin: 0 auto;
  width: 100vw;
  padding: 0;
  text-align: center;
  @include flex-center(row, space-between, center);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .navbar-brand.logo {
    width: 50px;
    margin-right: 450px;
    height: auto;
    margin-left: 30px;

    img {
      width: 97px;
      height: 100px;
    }
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    left: -30px;
    
    ul.navbar-nav {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;

      li {
        margin-left: 15px;

        &:first-child {
          margin-left: 0;
        }

        a {
          display: block;
          padding: 10px 20px;
          text-decoration: none;
          font-family: 'Quicksand';
          font-weight: bold;
          border-radius: 4px;
          font-size: 20px;
          color: #000000;

          &:hover {
            background-color: #ddd;
            color: map-get($colors, black);
          }
        }
      }
    }
  }
}

// Portada Styles
#portada {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(148, 141, 131, 0.5);
}

.cabana-text-container {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 80px;
}

.cabana-title {
  width: 100%;
  height: auto;
  margin: 0 auto; 
  font-family: 'Italiana';
  font-size: 100px;
  line-height: 150%;
  color: map-get($colors, secondary);
}

.cabana-subtitle {
  margin: 0 auto;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  font-family: 'Italianno';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  color: map-get($colors, secondary);
}

/* Button */
.button {
  width: 339px;
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 81px;
  font-size: 24px;
  margin: 20px auto;
  @include button-style(map-get($colors, "button-bg"), map-get($colors, white), map-get($colors, "button-bg"));
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  header {
    .navbar-brand.logo {
      width: 40px;
      margin-right: 20px;
      margin-left: 20px;

      img {
        width: 80px;
        height: 80px;
      }
    }

    nav {
      ul.navbar-nav {
        li a {
          padding: 8px 10px;
          font-size: 18px;
        }
      }
    }
  }

  #portada {
    height: 60vh;
    padding: 20px;
  }

  .cabana-text-container {
    margin-top: 20px;
  }

  .cabana-title {
    font-size: 45px;
    margin-bottom: 20px;
  }

  .cabana-subtitle {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .button {
    width: 250px;
    padding: 2px;
    font-size: 15px;
  }

  footer {
    padding: 15px;
    .footer-container {
      flex-direction: column;
      gap: 20px;
    }

    .footer-column {
      text-align: center;
      margin-bottom: 20px;
    }

    .social-icons {
      justify-content: center;
    }
  }
}

/* Contacto */
#contacto {
  position: relative;
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h13 {
    @include font-style("h13");
    font-family: 'Italiana';
    font-weight: bold;
    margin-bottom: 10px;
    width: 300px;
    height: auto;
    margin: 0 auto; 
    line-height: 150%;
    color: map-get($colors, secondary);
    border-bottom: 4px solid map-get($colors, primary); 

  }

  h14 {
    @include font-style("h14");
    margin-top: 20px;
    font-weight: bold;
  }

  .h14 {
    @include font-style("h14");
    margin-bottom: 40px;
  }

  .form-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 5px;

    .contact-form {
      order: 1;
      flex: 2.5;
      background: map-get($colors, primary);
      border: 2px solid  #2e2c2a;
      border-radius: 8px;
      padding: 20px;
      min-height: 600px;
      
    }
    .contact-info {
      order: 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1.5;
      background: map-get($colors, primary);
      border: 2px solid #2e2c2a;
      border-radius: 8px;
      padding: 20px;
      min-height: 600px;
      
      .info-item:last-child {
        margin-top: 40px; 
      }

      .info-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        i {
          font-size: 20px;
          color: map-get($colors, secondary);
          margin-right: 15px;
        }

        span {
          @include font-style("p");
          color: map-get($colors, secondary);
          font-size: 16px;
        }
      }

      .info-item i {
        margin-right: 8px; 
      }
    }

      h15 {
        @include font-style("h15");  
        font-family: 'Quicksand';
        font-weight: bold;
        color: map-get($colors, secondary);
        font-size: 30px;
        justify-content: left;
        margin-left: -400px;
        margin-top: 10px;
        margin-bottom: 0px;
      }
      h16 {
        @include font-style("h16");  
        width: map-get($widths, "h16");
        height: map-get($heights, "h16");
        color: map-get($colors, secondary);
        margin-left: -240px;
        white-space: nowrap;
        margin-bottom: 15px;
        
      }

      h17 {
        position: relative;
        @include font-style("h17");
        width: map-get($widths, "h17");
        height: map-get($heights, "h17");
        margin-bottom: 80px;
        margin-top: 30px ;
        font-family: 'Quicksand';
        font-weight: bold;
        color: map-get($colors, secondary);
        font-size: 30px;
      }

      h17::after {
        content: ""; 
        display: block;
        width: 130%; 
        height: 1px; 
        background-color: #000;
        position: absolute;
        bottom: -50px; 
        left: 50%; 
        transform: translateX(-50%);
      }

      p {
        @include font-style("p");
        margin-bottom: 20px;
        margin-top: 0px;
      }

      form {

          label {
            font-family: $font-stack;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            color: map-get($colors, secondary);
            margin-bottom: 5px;
          }

          input, textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #2e2c2a;
            border-radius: 4px;
            font-family: $font-stack;
            font-size: 16px;
            color: map-get($colors, secondary);
          }

          textarea {
            height: 100px;
            resize: vertical;
          }
        }   
        
        .button-container {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          margin-top: 40px;
          
            button {
              width: 200px;
              height: 40px;
              cursor: pointer;
              margin: 0;
              @include button-style(map-get($colors, "button-bg"), map-get($colors, white), map-get($colors, "button-bg"));
            }
        }
      }
    }

    .form-row, .contact-row {
      display: flex;
      justify-content: start;
      gap: 10px;
    
      .input-field {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px; 
      }
    }
    
    .contact-row {
      margin-top: 20px; 
    }
    
   #nombre, #apellido, #telefono, #email{
    width: 45%;
   } 
   .required {
    color: red;
  }

  @media (max-width: 768px) {
    .form-container {
      flex-direction: column !important;
      align-items: center;
  
      .contact-form, .contact-info {
        width: 100% ;
        flex: none;
        min-height: auto;
        margin-bottom: 20px;
      }
  
      .contact-info {
        order: 2 !important; 
      }
  
      .contact-form {
        order: 1 !important;
      }
  
      h15, h16 {
        margin-left: 0;
        text-align: center;
      }
  
      h15 {
        font-size: 14px !important; /* Ajusta el tamaño de la fuente para móviles */
      }
  
      h16 {
        font-size: 14px; /* Ajusta el tamaño de la fuente para móviles */
      }
  
      h17 {
        font-size: 24px; /* Ajusta el tamaño de la fuente para móviles */
        text-align: center;
      }
  
  
  
      h17::after {
        width: 50%; /* Reduce el ancho de la línea en móviles */
      }
    
  
    #nombre, #apellido, #telefono, #email {
      width: 100%; /* Asegúrate de que los campos ocupen todo el ancho en móviles */
    }
  
    .form-row, .contact-row {
      flex-direction: column;
      gap: 0;
    }
  
    .button-container {
      justify-content: center;
  
      button {
        width: 100%;
      }
    }
  }
}
  

footer {
  position: relative; 
  margin-top: 40px;
  background-color: map-get($colors, primary);
  text-align: center;
  padding: 20px;
  margin-top: 0px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  gap: 80px;
  margin: 0 auto;
  max-width: 1200px;
}

.logo-Braford img {
  max-width: 150px;
}

.logo img {
  max-width: 250px;
}

.social-icons {
  font-size: 24px; 
  display: flex; 
  gap: 20px;
  color: #000;
  margin-bottom: 20px;
}

.footer-column {
  flex: 1;
  text-align: left;
}

.footer-column h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #000;
}

.footer-column a {
  display: block;
  margin: 5px 0;
  text-decoration: none;
  color: #000;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-column p {
  margin: 5px 0;
  color: #000;
}

.copyright {
  font-size: 14px;
  color: #000;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
